<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>

                    <div class="panel-body">
                        I'm an example component!
                        <ul>
                            <li v-for="(i, index) in list" :key='index'>{{i}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                list: [1,2,3,4,5]
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
